* {
    margin: 0;
    padding: 0;
}

.profile-wrapper {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-wrapper form {
    margin: 0;
    padding: 0;
}
